body {
  box-sizing: border-box;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.content {
  min-height: 200px;
  border: 1px solid black;
  margin: 20px auto;
  padding: 20px;
}

.content__question {
  margin-bottom: 20px;
  font-size: 20px;
}

.content__answer {
  display: flex;
  flex-direction: column;
}
.content__answer > div {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label {
  display: inline;
  margin-left: 4px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.result {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

/* Custom checkbox */

input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

input:checked ~ label > span {
  background-color: #2196f3;
}
span:after {
  content: "";
  position: absolute;
  display: none;
}
input:checked ~ label > span:after {
  display: block;
}

span:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
